body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
}

p {
  margin: 0;
}

.todo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon-title {
  font-size: 40px;
}

.todo-app {
  background-color: #f5eeee;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
